body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    display: flex;
}

.highlight,
a.nav-link:hover,
a.nav-link#active {
    color: transparent;
    background-image: linear-gradient(to right, #0d6efd, #9b6dff);
    -webkit-background-clip: text;
    transform: scale(1.03);
    transition: all 200ms ease-in-out;
}

a.nav-link {
    color: black;
}

.mainTitle {
    margin-bottom: 16px;
}

nav {
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 22px;
    background-color: white;
}

.centerContainer {
    flex-direction: column;
}

.centerContainer.rock-paper-scissors {
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}

.rpsButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scoreBoard {
    min-width: 370px;
    flex-direction: column;
    color: black;
    border: solid 2px black;
    border-radius: 6px;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    margin: 16px;
    padding: 6px 12px;
}

.btn.rps,
.btn.eas {
    width: 160px;
    height: 42px;
    font-size: 19px;
    margin: 16px;
    color: black;
    border: solid 2px black;
}

.btn.rps:hover,
.btn.eas:hover {
    background-image: linear-gradient(to right, #0d6efd, #9b6dff);
    border: none;
    transform: scale(1.03);
    transition: all 200ms ease-in-out;
}

.scoreBoard h2 {
    margin: 0px;
}

.hide {
    visibility: hidden;
}

.fixSpan {
    width: 23px;
    display: inline-block;
}

#writeResult {
    font-size: 22px;
}

.centerContainer.eas {
    align-items: center;
}

#etchAGrid {
    height: 500px;
    width: 500px;
    border: 3px solid black;
    border-radius: 6px;
    margin-bottom: 6px;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
    transform-style: preserve-3d;
}

#etchAGrid sh {
    position: absolute;
    inset: calc(0px - 2px - 16px);
    border: calc(0px + 2px + 16px) solid #0000;
    border-radius: calc(0px + 2px + 16px + 6px);
    -webkit-mask: linear-gradient(#000 0 0) content-box,linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    transform: translateZ(-1px);
    pointer-events: none;
}

#etchAGrid sh::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 6px;
    background: linear-gradient(to right, #0d6efd, #9b6dff);
    filter: blur(0px);
    transform: translate(8px,8px);
}

.etchARow {
    flex-direction: row;
    justify-content: stretch;
    flex: 1 1 auto;
}

.etchASquare {
    padding: none;
    flex: 1 1 auto;
}

.colored {
    background-color: black;
}

.easButtons {
    justify-content: space-around;
}

.modal-title.fs-5 {
    font-size: 36px !important;
}

.modal-body {
    flex-direction: column;
    align-items: center;
}

.form-label {
    font-size: 19px;
}

input[type="range"].form-range::-webkit-slider-thumb {
    background-image: linear-gradient(to right, #0d6efd, #9b6dff);
}

input[type="range"].form-range::-moz-range-thumb {
    background-image: linear-gradient(to right, #0d6efd, #9b6dff);
}

input[type="range"].form-range::-ms-thumb {
    background-image: linear-gradient(to right, #0d6efd, #9b6dff);
}

input[type="range"].form-range::-webkit-slider-runnable-track {
    background-color: black;
}

body#my-journey {
    height: auto;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.imageSection {
    flex-direction: row;
    justify-content: space-evenly;
}

.textContainer {
    flex-direction: column;
}

p {
    width: 512px;
}

#odin {
    flex-direction: column;
    justify-content: center;
}